aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
crcmod==1.7
cryptography==50.0.0
et_xmlfile==2.0.0
greenlet==3.5.5
idna==3.18
jmespath==0.10.0
openpyxl==3.1.5
oss2==2.19.1
pillow==12.3.0
playwright==1.60.0
pycparser==3.0
pycryptodome==3.23.0
pyee==13.0.1
requests==2.34.2
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
